# Local Config
config/*.sh

# build
build/
dist/

# Temp Text Files
.tmp/**/*

# Python pyc files
*.pyc
Falcon.egg-info/**/*
.cache/**/*
.eggs/**/*

# Don't track NPM modules
node_modules
npm-debug.log

*.DS_Store
